:root {
  color-scheme: light dark;
}

.container {
  max-width: 62rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

input {
  &[type='text'],
  &[type='email'],
  &[type='password'],
  &[type='number'],
  &[type='search'] {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: thin solid var(--c-border);
    border-radius: 0.5rem;
    background-color: var(--bg-input);
    &:focus-visible {
      outline: none;
      border: thin solid var(--c-accent);
    }
  }
}

button,
input[type='submit'] {
  padding: 0.5rem 0.75rem;
  border: thin solid var(--c-border);
  border-radius: 0.5rem;
}
