---
import AuthForm from '@/components/lvl1/forms/auth-form.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'form'> {}

const { class: className, ...attrs } = Astro.props;
const searchParams = Astro.url.searchParams;

const cause = searchParams.get('cause');
const error =
  searchParams.get('error') && decodeURIComponent(searchParams.get('error')!);
---

<AuthForm
  class="form"
  class:list={[className]}
  action="/api/auth/login"
  method="POST"
  {...attrs}
>
  {cause === 'auth-error' && <p class="error">{error}</p>}
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Пароль" required />
  <button type="submit">Войти</button>
</AuthForm>

<style>
  .error {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
  }
</style>
